--
-- PostgreSQL database dump
--

\restrict CzPwTfpW1LbIbyg0MJpZsfMcGYq8ITpXYgFxyHueSbZHzbVir6cw2ScHwMU5GqQ

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Asset; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."Asset" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    "assetType" text NOT NULL,
    "sourceFilename" text,
    "storageKey" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "moderationState" text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "awsJobId" text,
    "errorMessage" text,
    "jobCompletedAt" timestamp(3) without time zone,
    "jobStartedAt" timestamp(3) without time zone,
    "fileSize" integer,
    "mimeType" text,
    "uploaderId" text
);


ALTER TABLE public."Asset" OWNER TO myuser;

--
-- Name: Event; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."Event" (
    id text NOT NULL,
    title text NOT NULL,
    "ownerId" text NOT NULL,
    passcode text NOT NULL,
    "guestUploadPolicy" text DEFAULT 'allowed'::text NOT NULL,
    "biometricSearch" boolean DEFAULT true NOT NULL,
    "publicGallery" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Event" OWNER TO myuser;

--
-- Name: FaceDetection; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."FaceDetection" (
    id text NOT NULL,
    "assetId" text NOT NULL,
    "personId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "faceId" text NOT NULL,
    confidence double precision NOT NULL,
    "boundingBox" jsonb NOT NULL
);


ALTER TABLE public."FaceDetection" OWNER TO myuser;

--
-- Name: FaceSample; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."FaceSample" (
    id text NOT NULL,
    "personId" text NOT NULL,
    "faceDetectionId" text NOT NULL,
    "isReference" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FaceSample" OWNER TO myuser;

--
-- Name: Person; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."Person" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    name text,
    status text DEFAULT 'unnamed'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Person" OWNER TO myuser;

--
-- Name: User; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    name text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."User" OWNER TO myuser;

--
-- Data for Name: Asset; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."Event" (id, title, "ownerId", passcode, "guestUploadPolicy", "biometricSearch", "publicGallery", "createdAt") FROM stdin;
6b210123-ddb6-41fe-a6f3-64d3d8e3d39c	Testing P1	priyanshuk6395	429568	allowed	t	f	2026-05-03 03:53:19.435
\.


--
-- Data for Name: FaceDetection; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: FaceSample; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: Person; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public."User" (id, username, password, name, "createdAt") FROM stdin;
\.


--
-- Name: Asset Asset_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Asset"
    ADD CONSTRAINT "Asset_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: FaceDetection FaceDetection_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."FaceDetection"
    ADD CONSTRAINT "FaceDetection_pkey" PRIMARY KEY (id);


--
-- Name: FaceSample FaceSample_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."FaceSample"
    ADD CONSTRAINT "FaceSample_pkey" PRIMARY KEY (id);


--
-- Name: Person Person_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Person"
    ADD CONSTRAINT "Person_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Asset_awsJobId_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "Asset_awsJobId_key" ON public."Asset" USING btree ("awsJobId");


--
-- Name: Event_passcode_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "Event_passcode_key" ON public."Event" USING btree (passcode);


--
-- Name: FaceDetection_faceId_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "FaceDetection_faceId_key" ON public."FaceDetection" USING btree ("faceId");


--
-- Name: FaceSample_personId_faceDetectionId_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "FaceSample_personId_faceDetectionId_key" ON public."FaceSample" USING btree ("personId", "faceDetectionId");


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: myuser
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: Asset Asset_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Asset"
    ADD CONSTRAINT "Asset_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FaceDetection FaceDetection_assetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."FaceDetection"
    ADD CONSTRAINT "FaceDetection_assetId_fkey" FOREIGN KEY ("assetId") REFERENCES public."Asset"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FaceDetection FaceDetection_personId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."FaceDetection"
    ADD CONSTRAINT "FaceDetection_personId_fkey" FOREIGN KEY ("personId") REFERENCES public."Person"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FaceSample FaceSample_faceDetectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."FaceSample"
    ADD CONSTRAINT "FaceSample_faceDetectionId_fkey" FOREIGN KEY ("faceDetectionId") REFERENCES public."FaceDetection"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FaceSample FaceSample_personId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."FaceSample"
    ADD CONSTRAINT "FaceSample_personId_fkey" FOREIGN KEY ("personId") REFERENCES public."Person"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Person Person_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public."Person"
    ADD CONSTRAINT "Person_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict CzPwTfpW1LbIbyg0MJpZsfMcGYq8ITpXYgFxyHueSbZHzbVir6cw2ScHwMU5GqQ

